<h1>Slack - Amon</h1>
<h2>Token Information</h2>
<pre>
<% @token.info.each do |key|  %>
  <%=key[0]%>: <%=key[1]%>
<% end %>
</pre>

<h2>Channels List</h2>
<ul>
<% @channels.each do |channel| %>
  <li><%=link_to channel['name'], slack_channel_path(@token.id, channel['id'], channel['name'])%></li>
<% end %>
</ul>

<h2>Groups List</h2>
<ul>
<% @groups.each do |group| %>
  <li><%=link_to group['name'], slack_group_path(@token.id, group['id'], group['name'])%></li>
<% end %>
</ul>

<h2><%= link_to "Users list", slack_users_path(@token.id) %></h2>

<h2>Search</h2>
<form action="<%= slack_search_path(@token.id) %>">
  <input type="search" placeholder="query" name="q">
  <input type="submit">
</form>