<h2>Users list for <%= @token.info['team'] %></h2>
<dl>
  <% @users.each do |user| %>
  <dt><%= user['name'] %></dt>
  <dd>
    <ul>
      <li>Name: <%= user['real_name'] %></li>
      <li>Phone: <%= user['phone'] %></li>
      <li>Email: <%= user['profile']['email'] %></li>
      <li>ID: <%= user['id'] %></li>
      <li>Skype: <%= user['skype'] %></li>
      <li>Title: <%= user['profile']['title'] %></li>
      <li><img src="<%= user['profile']['image_72'] %>"></li>
      <% if user['is_admin'] %>
      <li>Is admin</li>
      <% end %>
    </ul>
  </dd>
  <% end %>
</dl>